.numero-sorteado-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.sorteado-text {
  color: var(--content-brand);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
