.sessao-principal {
  display: flex;
  margin: 5.5625rem auto;
  max-width: 68.625rem;
  gap: 6.75rem;
}

.sessao-principal span {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  color: var(--content-secondary);
}

.sessao-principal h1 {
  font-family: "Sora", sans-serif;
  font-size: 3.2rem;
  color: var(--content-primary);
  margin-top: 0.75rem;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 600;
}

.left-content {
  display: flex;
  flex-direction: column;
  max-width: 31.75rem;
}

.title-container {
  max-width: 31.75rem;
}
