.sort-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sort-container h2 {
  color: var(--content-primary);
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.25rem;
}

.sort-container .sort-text-container p {
  color: var(--content-secondary);
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  margin-top: 0.625rem;
}

.app {
  display: flex;
}
